<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.utng.app.yacalu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:hint="YaCaLu"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:versionCode="1"
        android:versionName="1.0">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".IntroductionActivity" />
        <activity android:name=".WritingReportsActivity" />
        <activity android:name=".MemoActivity" />
        <activity android:name=".GameComplementationActivity" />
        <activity
            android:name=".ListAdjectivesActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".CondicionalsActivity" />
        <activity android:name=".BusinessEnglishActivity" />
        <activity android:name=".VerbsListActivity" />
        <activity android:name=".ProcesoConecActivity" />
        <activity android:name=".connectors.MenuConecActivity" />
        <activity android:name=".WellcomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".businessTips.BusinessTipsReadActivity" />
        <activity android:name=".businessTips.BusinessTipsProgramsActivity" />
        <activity android:name=".businessTips.BusinessTipsVocabularyctivity" />
        <activity android:name=".businessTips.BusinessTipsSentenActivity" />
        <activity android:name=".businessTips.BusinessTipsPracticActivity" />
        <activity android:name=".businessTips.BusinessTipsSituationsActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".quiz.ScoreActivity" />
        <activity android:name=".GrammarActivity" />
        <activity android:name=".CreditsActivity" />
        <activity android:name=".FacebookActivity" />
        <activity android:name=".YoutubeActivity" />
        <activity android:name=".connectors.ConclusiveConnectorsActivity" />
        <activity android:name=".connectors.ContinuativesConnectorsActivity" />
        <activity android:name=".connectors.AdversativesConnectorsActivity" />
        <activity android:name=".completeSentences.SentencesUnderActivity" />
        <activity android:name=".completeSentences.SentencesOnActivity" />
        <activity android:name=".completeSentences.SentencesNextToActivity" />
        <activity android:name=".completeSentences.SentencesInFrontActivity" />
        <activity android:name=".completeSentences.SentencesBehindActivity" />
        <activity android:name=".completeSentences.SentencesBetweenActivity" />
        <activity android:name=".completeSentences.SentencesAroundActivity" />
        <activity android:name=".completeSentences.SentencesThroughActivity" />
        <activity android:name=".objects.BedActivity" />
        <activity android:name=".objects.BucketActivity" />
        <activity android:name=".objects.CameraActivity" />
        <activity android:name=".objects.CelphoneActivity" />
        <activity android:name=".objects.ChairActivity" />
        <activity android:name=".objects.ComputerActivity" />
        <activity android:name=".objects.DiceActivity" />
        <activity android:name=".objects.EntryActivity" />
        <activity android:name=".objects.GlassesActivity" />
        <activity android:name=".objects.KeysActivity" />
        <activity android:name=".objects.LamActivity" />
        <activity android:name=".objects.LanternActivity" />
        <activity android:name=".objects.PencilActivity" />
        <activity android:name=".objects.TableActivity" />
        <activity android:name=".objects.TypewriterActivity" />
        <activity android:name=".figuresGeometric.CircleActivity" />
        <activity android:name=".figuresGeometric.DiamondActivity" />
        <activity android:name=".figuresGeometric.RectangleActivity" />
        <activity android:name=".figuresGeometric.TriangleActivity" />
        <activity android:name=".figuresGeometric.SquareActivity" />
        <activity android:name=".figuresGeometric.FigureActivity" />
        <activity android:name=".MusicUrlActivity" />
        <activity android:name=".TipsActivity" />
        <activity android:name=".VerbListActivity" />
        <activity android:name=".vocabulary.MainVocabularyActivity" />
        <activity android:name=".vocabulary.VocabularyActivity" />
    </application>

</manifest>